.input-container{
    width: 100%;
    font-size: 0.24rem;
    margin-bottom: 0.4rem;
}
.form-control{
    border: 1px solid #e5e5e5;
    height: 0.8rem;
    padding-left: 0.38rem;
    width: 80%;
    color: #666;
    border-radius: 0;

}
.input-container button{
    width: 20%;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    border: 0 none;
    background-color: #ff7200;
    color: #fff;
}
